.container {
  width: 100vw;
  height: 88vh;
}

html, body {
  margin: 0;
  border: 0;
  font-family: sans-serif;

  background: lightgray;
}

.navbar {
    overflow: hidden;
    background-color: #000000;
    color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.navbar li {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    text-align: center;
}

.navbar li:hover {
    color: lightgray;
}

.grid div p {
  font-size: 25px;
  }

footer {
  background: black;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
}

form p {
  display: inline;

}

.bulge, .bulge:hover + .bulge {
    animation: bulge 1s ease-out;
}

@keyframes bulge {
    0%{
        opacity: 0;
        transform: scale(.8, .8);
    }
    20% {
        opacity: 1;
        transform: scale(1.2, 1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

/* Grid items */

.grid {
    display: grid;
    grid-template: repeat(5, 20vh) / repeat(3, 2fr);
    /* grid-template: repeat(5, 20vh) / 33% 33% 33%; */

    grid-template-areas:  "pic1 pic3 pic2"
                          "pic1 pic3 pic2"
                          "pic1 pic3 pic2"
                          "txt  txt txt"
                          "txt  txt txt";

    width: 100vw;

    margin-top: 90px;
}

div:nth-child(1) {
  background: url('photo-1.jpg');
  grid-area: pic1;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
  background-size: cover;
}

div:nth-child(2) {
  background: url('photo-3.jpg');
  grid-area: pic3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div:nth-child(3) {
  background: url('photo-2.jpg');
  grid-area: pic2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div:nth-child(4) {
  background: white;
  background-size: cover;
  background-position: center;
  grid-area: txt;
}
